<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
<title>HTML4</title>
<style>
body {
    font-family: Verdana,sans-serif;
    font-size: 0.9em;
}

div#header, div#footer {
    padding: 10px;
    color: white;
    background-color: darkkhaki;
}

div#content {
    margin: 5px;
    padding: 10px;
    background-color: darkkhaki;
}

div.article {
    margin: 5px;
    padding: 10px;
    background-color: white;
}

div#menu ul {
    padding: 0;
}

div#menu ul li {
    display: inline;
    margin: 5px;
}
</style>
</head>
<body>
    <div class="bg"></div>


<div id="header">
<h1>Nemavhola Airways Flights</h1>
</div>

<div id="menu">
<ul>
  <li>Tickets</li>
  <li>Schedule</li>
  <li>Flights</li>
</ul>
</div>

<div id="content">
<h2>About Nemavhola Airways</h2>
<div class="article">
<h2>About</h2>
  <p>Nemavhola Airways on-time rate of 84% ranks in the top 25% in the world, and is also one of the best among smaller carriers.
    Nemavhola Airways flights are delayed 45% of the time, which is a bit lower than other small carriers. When there is a delay, it averages about 16 minutes, which is about the same as similar carriers.
    </p>
  <p>Combining both on-time performance as well as delay frequency and duration South African Airways earns 4.1 out of 5 stars, putting it near the top across all carriers.
    Cheap flights for South African Airways are usually on Thursdays, when bookings can be bought for around 41% below their average price, which can equal $1,089 in savings.
    The average trip for most South African Airways passengers last 17 day</p>
</div>
<div class="article">
<h2>Route</h2>
  <p>Your gateway to an exotic African vacation is through South African Airways.Some of the world's most exciting destinations are served by Nemavhola airline, all at amazingly low fares that won't break your budget. The fun only begins with South African Airways reservations.<p> The carrier has many different specials that include safari adventures and other sightseeing tours, all at prices that can't be beat! Expedia can help you plan your vacation with complete online booking.<p>
   
    Browse Expedia to find all the great locations for Nemavhola flights</p>
  <p>
    Expedia does much more than finding the best South African Airways flights to fit your needsion you need for your booking all in one convenient location. Check-in for your flight online from the comfort of home, office, or your hotel room. Review departure and arrival information and find all the information you need to know about South African Airways carry-on and checked baggage allowances. Need information on passport and visa requirements? Don't worry, it's right here on Expedia's website. We're much more than a search engine for cheap flights and online booking.<p> Expedia will do all the work so you can have a hassle-free experience on all South African Airways flig
    </p>
</div>
</div>

<div id="footer">
<p>&copy; 2018 Nemavhola Airways. All rights reserved.</p>
</div>

</body>
</html>