<p>
Name: {{firstname}} <br><br>
Surname: {{surname}}<br><br>
Age: {{age}} <br><br>
Departure: {{departure}}<br><br>
Arrival: {{arrival}}<br><br>
Date: {{date}}<br><br>
Traveller: {{traveller}}<br><br>
</p>
<html>
<head>
<title>Google Icons</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>

<h1>booked</h1>


<i class="material-icons" style="font-size:48px;color:blue">flight</i>
<i class="material-icons" style="font-size:48px;color:blue">flight</i>
<i class="material-icons" style="font-size:48px;color:blue">flight</i>

<p>Code:</p>
<i class="material-icons">&#xe539;</i>

</body>
</html>
<router-outlet></router-outlet>