

<div class="form-container" >
        <h1>Flight Bookings</h1>
<input class="input" type="text" placeholder="Name" name="firstname" [(ngModel)]="firstname"><br><br>
<input class="input" type="text" placeholder="Surname" name="surname" [(ngModel)]="surname"><br><br>
<input class="input" type="text" placeholder="Age" name="age" [(ngModel)]="age"><br><br>
<input class="input" type="text" placeholder="Departure" name="departure" [(ngModel)]="departure"><br><br>
<input class="input" type="text" placeholder="Arrival" name="arrival" [(ngModel)]="arrival"><br><br>
<input class="input" type="text" placeholder="Date" name="date" [(ngModel)]="date"><br><br>
<input class="input" type="text" placeholder="Traveller" name="traveller" [(ngModel)]="traveller"><br><br>
<input type="submit" (click)="booking()" value="Submit">

</div>

